# ========================================
# vi /etc/systemd/system/flower.service
# systemctl daemon-reload
# systemctl restart flower.service
# ========================================

[Unit]
Description=Flower Celery Service

[Service]
User=user
Group=apache

#WorkingDirectory=/var/www/web_app_dir/web_app
WorkingDirectory=/var/www/web_app_dir

ExecStart=/bin/sh -c '/var/www/web_app_dir/web_app/bin/celery flower --broker=amqp://user:passwd@localhost:5672/mq_vhost --broker_api=http://user:passwd@localhost:15672/api/'
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
